<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>User</h1>
    <p >ID: {{user["id"]}}</p>
    <p>First Name: {{user["first_name"]}}</p>
    <p>Last Name: {{user["last_name"]}}</p>
    <p>Email: {{user["email"]}}</p>
    <p>
        <a class= "btn btn-primary" href="/edit/{{user['id']}}">Edit</a> 
        <a class= "btn btn-danger"href="/delete/{{user['id']}}">Delete</a> 
        <a class= "btn btn-primary" href=/users>Home</a>
    </p>
    
    
</body>
</html>