<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Test</h1>
<h1>Users</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
                {% for one_user in all_users %}
            <tr> 
                <th scope="row">{{one_user["id"]}}</th>
                <td>First Name: {{one_user["first_name"]}}</td>
                <td>Last Name: {{one_user["last_name"]}}</td>
                <td>Email: {{one_user["email"]}}</td>
            </tr>
            {% endfor %}
            <a class= "btn btn-primary" href=/users/new>Add friend</a>
        </tbody>
    </table>
</body>
</html>


